# exclude all dot files except .gitignore
.*
!.gitignore

*.bak
*.bkp
*.exe
*.ini

oleh_sound_utils.script
oleh_sounds_mcm.script
oleh_misc_sounds_mcm.script
ui_st_oleh_sounds.xml
ui_st_oleh_misc_sounds.xml